.speech{
    color:black;
    font-size: 17px;
    font-family: Times New Roman;
}
.stagedirection{
    color:black;
    font-family: Times New Roman;
    background-color: lightcoral;
}
.name{
    color:black;
    font-size: 17px;
    font-family: Times new roman;
}
.MARCHMONT{
    color:green;
}
.LADYBASILDON{
    color:yellow;
}
.MASON{
    color:red;
}
